* {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245)
}
h1 {
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}
h2 {
    font-size: 24px;
    color: #606060;
    font-weight: 800;
}
p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}
li {
    font-family: monospace;
    font-size: 18px;
    list-style-type: none;
}
a {
    color: black;
}

ul li a{
    color: orange;
    text-decoration: underline;
}

ul{
    margin-left: 100px;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    width: 40%;
}

.colorV{
    color: green;
}

